<form action="/login" method="post" id="login">

    <label for="email">Email</label>
    <input type="email" name="email" required>

    <label for="password">Password</label>
    <input type="password" name="password" required>

    <button>Entrar</button>

</form>

<a href="/register"><button>Register Now</button></a>